/***********************************/
/*   FONT-FAMILY STYLES
/***********************************/
@font-face {
  font-family: 'Advent Pro';
  src: url('/fonts/AdventPro-Bold.woff2') format('woff2'),
    url('/fonts/AdventPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/AlumniSans-Thin.woff2') format('woff2'),
    url('/fonts/AlumniSans-Thin.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Regular.woff2') format('woff2'),
    url('/fonts/BarlowCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Thin.woff2') format('woff2'),
    url('/fonts/BarlowCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Light.woff2') format('woff2'),
    url('/fonts/BarlowCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow Condensed';
  src: url('/fonts/BarlowCondensed-Medium.woff2') format('woff2'),
    url('/fonts/BarlowCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
