@import url('reset.css');
@import url('normalize.css');
/***********************************/
/*   TAILWIND STYLESHEETS
/***********************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************************/
/*   IMPORTED SECTIONS
/***********************************/
@import url('menuSection.css');
@import url('homeSection.css');
@import url('aboutSection.css');
@import url('talentSection.css');
@import url('serviceSection.css');
@import url('featuredSection.css');
@import url('achievementSection.css');
@import url('achieveMenu.css');
/* @import url('modal.css');
/* @import url('../node_modules/aos/dist/aos.css'); */

/***********************************/
/*   IMPORTED FONTS
/***********************************/
@import url('fonts.css');
/***********************************/
/*   DEFAULT STYLES
/***********************************/
:root {
  --color-white: #ffffff;
  --color-black: #02001d;
  --color-gray-100: #747474;
  --color-gray-500: #191919;
  --color-blue: #030d24;
  --color-yellow: #c28b3a;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Barlow Condensed';
  color: var(--color-white);
  background-color: var(--color-gray-500);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Advent Pro';
  font-weight: bold;
  margin: 0 0 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}
/***********************************/
/*   SECTIONS
/***********************************/
#home,
#about,
#talent,
#services,
#featured,
#achievements,
#contact {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
/***********************************/
/*   BG-OVERLAY & INNER
/***********************************/
.inner {
  right: 4%;
  bottom: 22%;
  text-align: right;
  padding: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  background: none;
  max-width: 700px;
}
@media (min-width: 640px) {
  .inner {
    width: 80%;
  }
}
@media (min-width: 768) {
  .inner {
    width: 75%;
  }
}
.bg-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('/images/bg/bg.overlay.png');
  background-repeat: repeat;
  z-index: 10;
}
/***********************************/
/*   BUTTONS
/***********************************/
.button {
  background-color: var(--color-yellow);
  border: 0.1rem solid var(--color-black);
  border-radius: 0.2rem;
  color: var(--color-black);
  display: inline-block;
  font-size: 13px;
  padding: 0.5rem 1rem;
  transition: all 0.35s ease;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0em;
  background: rgb(133, 96, 45);
  background: linear-gradient(
    45deg,
    rgba(133, 96, 45, 1) 0%,
    rgba(223, 197, 154, 1) 52%,
    rgba(131, 94, 42, 1) 100%
  );
  border: 0.1rem solid #533812;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.button.theme-secondary {
  background-color: transparent;
  border-color: var(--color-white);
  color: var(--color-white);
}

.button:hover {
  opacity: 0.85;
}
